<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <!--    <link rel='stylesheet' href='/bootstrap/css/bootstrap-grid.css' />-->
    <!--    <link rel='stylesheet' href='/bootstrap/css/bootstrap-reboot.css' />-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<style>
    .nav-item.active{
        border-color:transparent;
        border-bottom: 2px solid #2aebe2;
    }
</style>
<body>


<div class="container-fluid mb-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/images/tubiao.png" alt="tubiao" width="100px" height="50px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link active" href="/">首页 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lesson">课程</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0 mr-5">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav">
                <%if(isLogin){%>
                <li class="nav-item">
                    <a class="nav-link" href="/users/userinfo" target="_blank">个人中心</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/logout" >退出</a>
                </li>
                <%}else{%>
                <li class="nav-item active">
                    <a class="nav-link" href="/users/login" >登录 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/register" >注册</a>
                </li>

                <%}%>
            </ul>
        </div>
    </nav>
</div>

